html{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;    
    cursor: none !important;
}

#root{
    height: 100vh;
}
.Hello{
    color: white;
    text-align: center;
}
.container{
    margin: auto;
    width: 90%;
    display: grid;
    grid-gap: 30px;
    grid-template-areas: "left right recommended";
    grid-template-columns: 1fr 1fr 1fr/2;
    height: 60vh;

}
.left_side{
    grid-area: left;
    
}
.recommended{
    grid-area: recommended;
}
.right_side{
    grid-area: right ;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
}
.default_image{
    margin-top: 30px;
    width: auto;
    height: 80vh;

}
.list{
    list-style-type: none;
}
li{
    display: inline;
    color: white;
}
.text{
    color: white;
    text-align: justify;
}
.zone-button{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.direction-buttons{
    margin: 20px;
    background-color: transparent;

}
.direction-buttons > i{
    color: white;


}
.img_smaller{
    width: 100px;
    height: auto;
}
.circle{
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    border:1px solid #ccc;
    width:14px;
    height:14px;
    display: inline-block;
}