html{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;    
    cursor: none !important;
}

#root{
    height: 100%;
}
.Hello{
    color: white;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(100px, auto);
}
.left_side{
    grid-column: 1;
    grid-row: 1;
    margin-left: 10%;
    
}
.recommended{
    grid-column: 1;
    grid-row: 3;
}
.right_side{
    grid-column: 1;
    grid-row:2;
    align-items: center;
   justify-content: center;
   margin-left: 10%;
}
.default_image{
    margin-top: 30px;
    width: 600px;
}
.list{
    list-style-type: none;
}

li{
    display: inline-block;
    color: white;
    margin-left: 10%;
}
.text{
    color: white;
    text-align: center;
}
.zone-button{
    text-align: center;
    margin-top: 10%;
}
.direction-buttons{
    margin: 20px;
    background-color: #007bff;
    color: white;
    padding: 8px;

}
.direction-buttons > i{
    color: white;


}
.img_smaller{
    width: 100px;
    height: 100px;
}
.circle{
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    border:1px solid #ccc;
    width:14px;
    height:14px;
    display: inline-block;
}
.variant_button{
    background-color: transparent;
    color: white;
    padding: 9px;
    margin: 8px;
}