html{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;    
    cursor: none !important;
}

#root{
    height: 100%;
    width: 100%;
}
.Hello{
    color: white;
    text-align: center;
}
.container{
    /*
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.recommended{
    margin-top: 4%;
}
.recommended ul{
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
  
   
}
.recommended li{
    display: block;
    list-style-type: none;
}
.right_side{
    /*
    grid-column: 1;
    grid-row:2;
   margin-left: 10%; */
   display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   justify-content: center;
}
.right_side ul{
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;

}
.right_side li{
    display: block;
    list-style-type: none;
    margin: 10px;

}
.default_image{
    margin-top: 30px;
    width: 600px;
}
.list{
    list-style-type: none;
}

li{
  
    color: white;
    
}
.text{
    color: white;
    text-align: center;
}
p {
    text-align: justify;
    width: 70%;
}
.zone-button{
    text-align: center;

}
.direction-buttons{
    margin: 20px;
    background-color: #007bff;
    color: white;
    padding: 8px;

}
.direction-buttons > i{
    color: white;


}
.img_smaller{
    width: 100px;
    height: 100px;
}
.circle{
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    border:1px solid #ccc;
    width:14px;
    height:14px;
    display: inline-block;
}
.variant_button{
    background-color: transparent;
    color: white;
    padding: 9px;
    margin: 8px;
}

